@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-font: "Roboto";
  --main-color: #2196F3;
}

.container {
    width: 1170px;
    margin: auto;
}

body {
    font-family: var(--main-font);
    user-select: none;
}

.header-styles {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}


.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.logo-spart {
    color: black;
}

.header-list {
    display: flex;
    gap: 50px;
    padding-left: 100px;
    padding-right: 294px;
}

.header-list-item-active {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--main-color);
    cursor: pointer;
    position: relative;
}

.header-list-item {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
    cursor: pointer;
    position: relative;
}

.header-list-item::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
}

.header-list-item:hover::after  {
    transform: scaleX(1);
}

.address-icons {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.adress-item {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
}

.adress-item:hover {
    color: var(--main-color);

}

.address-gap {
    padding-right: 30px;
}

.welcome-section {
      background: 
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("./img/bg-hero.png");
    background-size: cover;
    padding-bottom: 180px;
    padding-top: 180px;
    text-align: center;
}

.welcome-section-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
}

.welcome-section-btn {
    border-radius: 4px;
    padding: 10px 32px;
    border: none;
    background-color: var(--main-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    animation: tada; 
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
} 

.welcome-section-btn:hover {
    opacity: 80%;   
}

.description-section {
    padding-top: 200px;
    padding-bottom: 94px;
}

.description-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

 .desription-img1 {
    position: relative;
}

.desription-img1::before {
    content: "";
    position: absolute;
    width: 270px;  
    height: 120px;
    top: -110px;   
    left: 50%;
    transform: translateX(-50%);
    background-color: #f5f4fa;
    background-image: url("./img/antenna 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px; 
    border-radius: 4px; 
}

.desription-img2 {
    position: relative;
}

.desription-img2::before {
    content: "";
    position: absolute;
    width: 270px;  
    height: 120px;
    top: -110px;   
    left: 50%;
    transform: translateX(-50%);
    background-color: #f5f4fa;
    background-image: url("./img/clock\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px; 
    border-radius: 4px; 
}

.desription-img3 {
    position: relative;
}

.desription-img3::before {
    content: "";
    position: absolute;
    width: 270px;  
    height: 120px;
    top: -110px;   
    left: 50%;
    transform: translateX(-50%);
    background-color: #f5f4fa;
    background-image: url("./img/diagram\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px; 
    border-radius: 4px; 
}

.desription-img4 {
    position: relative;
}

.desription-img4::before {
    content: "";
    position: absolute;
    width: 270px;  
    height: 120px;
    top: -110px;   
    left: 50%;
    transform: translateX(-50%);
    background-color: #f5f4fa;
    background-image: url("./img/astronaut\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px; 
    border-radius: 4px; 
}

.description-list-item-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    padding-bottom: 10px;
    padding-top: 30px;
}

.description-list-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;
}

.work-section {
    padding-bottom: 94px;
}

.work-section-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    padding-bottom: 50px;
}

.work-section-imgs {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.work-section-imgs > li {
    position: relative;
}

.work-section-img {
    width: 370px;
    height: 294px;
}

.work-section-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    text-transform: uppercase;
    color: white
}


 .team-section {
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-section-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    padding-bottom: 50px;
}

.team-section-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team-list-item {
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team-list-item-img {
    width: 270px;
    height: 260px;
}

.team-list-item-name {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    padding-top: 30px;
    padding-bottom: 10px;
}

.team-list-item-job {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
    padding-bottom: 16px;
}

.team-list-item-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-list-link:hover .team-list-item-icon {
    color: white;
}

.team-list-item-icon-style:hover {
    background-color: var(--main-color);
} 

.team-list-item-card {
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
} 


.team-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    text-decoration: none;
}

.team-list-item-icon-style {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 32px;
    transition: 0.3s;    
    animation: heartBeat; 
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
}

.team-list-link:hover .team-list-item-icon-style {
    background-color: var(--main-color);
}

.team-list-link:hover .team-list-item-icon {
    fill: white;
}

.team-list-item-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-section-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}
 
.clients-section-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.clients-list-link {
    color: #AFB1B8;      
    border: 1px solid #afb1b8;
    border-radius: 4px;
    padding: 16px 32px;
    display: inline-block;
}

.clients-list-svg {
    fill: #afb1b8;
    width: 106px;
    height: 60px;
}

.clients-list-item {
    align-content: center;
}

.clients-list-link:hover {
    border-color: var(--main-color);    
    animation: jello;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.clients-list-link:hover > .clients-list-svg {
    fill: var(--main-color);
}

.footer {
    background-color: #2F303A;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer-list-item-icon-style:hover {
    background-color: var(--main-color);
}

.footer-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.footer-list-item-icon-style {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 32px;
    transition: 0.3s;    
    animation: heartBeat; 
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-logo-spart {
    color: white;
}

.footer-list-sitem {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #fff;
    margin-top: 10px;
}

.footer-list-link {
    color: white;
}

.footer-list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
}

.footer-join {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

.footer-subscribe {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

.footer-email {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-right: 12px;
    padding-right: 12px;
}

.footer-email:focus {
    outline: none;
}

.footer-button {
    background-color: var(--main-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 28px;
}

.footer-sublink {
    display: flex;
}

.footer-button-svg {
    width: 24px;
    height: 24px;
}

.footer-style {
    display: flex;
    justify-content: space-between;
}

.footer-icon-bg {
    background-color: rgba(255, 255, 255, 0.1);   
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 15px;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%);
}

.no-scroll {
  overflow: hidden;
}

.btn-icon-close-modal {
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 51px;
    display: flex;
    justify-content: end;
    justify-self: end;
    padding: 6px;
    cursor: pointer;
}


.svg-style-icon-modal {
    width: 18px;
    height: 18px;
}

.btn-icon-close-modal:hover .svg-style-icon-modal{
    fill: rgba(33, 150, 243, 1);
}

.title-modal {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
}

.form-modal {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

.modal-subtitle {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 3px;
}

.input-modal {
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 16px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.input-modal:focus {
    outline: none;
    border: none;
}

.modal-input:focus-within {
    outline: 1px solid rgba(33, 150, 243, 1);
    fill: rgba(33, 150, 243, 1);
}

.modal-input:hover {
    outline: 1px solid rgba(33, 150, 243, 1);
    fill: rgba(33, 150, 243, 1);
}

.textarea-modal:focus {
    outline: 1px solid rgba(33, 150, 243, 1);    
}

.textarea-modal:hover {
    outline: 1px solid rgba(33, 150, 243, 1);    
}

.modal-input:focus-within .icons-modal {
    fill: var(--main-color);
}

.modal-input:hover .icons-modal {
    fill: var(--main-color);
}

.textarea-modal {
    max-width: 448px;
    height: 120px;
    max-height: 130px;
    margin-bottom: 20px;
    border: none;
    outline: solid 1px rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-conditions {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.conditions-modal {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(33, 150, 243, 1);
    margin-left: 4px;
}

.conditions-modal:hover {
    text-decoration: underline;
}

.modal-checkbox {
    width: 16px;
    height: 15px;
    border-radius: 2px;
    margin-right: 7px;
}

input[type="checkbox"] {
  accent-color: var(--main-color);
}

.button-submit-modal {
    display: flex;
    padding: 10px 52px;
    background-color: var(--main-color);
    color: #FFFFFF;
    border-radius: 4px;
    align-self: center;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
}

.button-submit-modal:focus {
    background-color: #188ce8;
}

.button-submit-modal:hover {
    background-color: #188ce8;
}

.icons-modal {
    width: 18px;
    height: 18px;
    fill: #212121;
}

input {
    border: none;
}

.modal-input {
    border: solid 1px rgba(33, 33, 33, 0.2);
    display: flex;
    border-radius: 4px;
    margin-bottom: 10px;
}

.modal-input > input {
    display: block;
    width: 100%;
}

.block-icons {
    display: flex;
    align-items: center;
    padding: 12px;
}

/* Portfolio css */

.header-portfolio {
    border-bottom: 1px solid #ececec;
}

.portfolio-btns {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-bottom: 50px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    border-radius: 4px;
    padding: 6px 25px;
    border: none;
    background-color: #f5f4fa;    

}

.portfolio-btn:hover {
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--main-color);    
    animation: swing;
    animation-duration: 1s;
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 30px;
    padding-bottom: 94px;
    padding-top: 94px;
}

.img-portfolio {
    width: 370px;
    height: 294px;
    display: block;
}

.figure-portfolio {
    position: relative;
    overflow: hidden;
   
}

.overlay-portfolio {
    justify-items: center;
    align-content: center;
    width: 370px;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0;
    transition-delay: 200ms;
    transform: translateY(100%);
    transition: transform 450ms ease-in-out;
}

.products-item:hover > .figure-portfolio > img + .overlay-portfolio{
   transform: translateY(0%);
}

.overlay-portfolio-text {
    padding: 15px;
    line-height: 28px
}

.product-item-name {
    color: rgba(33, 33, 33, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 6%;
    margin-left: 24px;
}

.product-item-subtitle {
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 3%;
    margin-left: 24px;
}

.product-item-content {
    border-bottom: solid 1px rgba(238, 238, 238, 1);
    border-right: solid 1px rgba(238, 238, 238, 1);
    border-left: solid 1px rgba(238, 238, 238, 1);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 370px;
}

.products-item:hover {
   box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
   transition: 0.2s;
}

.products-item {
   transition: 0.15s;
   width: 370px;
}